input{
	outline: none;
}
#detail-wrap{
	width: 100%;
	background-image:url(../images/background.jpg);
	padding-top: 20px;
}
#detail-mian{
	width: 90%;
	min-height: 950px;
	background: #fff;
	margin: 0 auto;
}
#detail-mian>.deteilLeft{
	width: 60%;
	min-height: 600px;
	
	float: left;
}
#detail-mian>.detailRight{
	width: 30%;
	
	min-height: 600px;
	float: right;
}
/* ---------------left------------ */
#enlarge-box{
	width: 50%;
	min-height: 200px;
	position: relative;
	float: left;
}
/* ----放大镜----- */
img {
    vertical-align: bottom;
}
body {
    background: #eee;
}

#large-box {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 90%;
    height: 80%;
    overflow: hidden;
}
#large-box>img{
	width: 1000px;
	height: 1000px;
}
#large-img {
    position: absolute;
    width: 100%;
    height: 100%;
}
#middle-box img {
    width: 100%;
}
#shadow {
    position: absolute;
    left: -1000px;
    top: 0;
    width: 20%;
    height: 20%;
    border-radius: 50%;
    background: #FEDE4F;
    opacity: .5;
    filter: alpha(opacity=50);
}
#small-box {
    margin-top: 10px;
    overflow: hidden;
}
#small-box img {
    float: left;
    width: 20%;
    height: 30%;
    margin-right: 3%;
    border: 2px solid #fff;
}
#small-box .active {
   border-color: red;
}
/* -----------left-detail-des -------*/
#detail-des{
	width: 40%;
	min-height: 200px;
	
	float: left;
}
#detail-des>h2{
	height:60px;
	line-height: 60px;
	/* margin-bottom: 4px; */
}
h2>span{
	display: inline-block;
	height:60px;
	line-height: 60px;
	border-bottom: 2px solid #dddddd;
}
#detail-des>h1{
	height:50px;
	line-height: 50px;
}
#detail-des>p{
	width: 100%;
	height:30px;
	line-height: 27px;
	border-top: 1px dotted #ddd;
	border-bottom: 1px dotted #ddd;
}
#detail-des>p>span{
	color: red;
}
.car{
	width: 293px;
	height: 80px;
	box-sizing: border-box;
	padding-top: 15px;
	
}
.car>input{
	border: 0;
	background: #000;
	color: #fff;
	width: 152px;
	height: 45px;
	float: left;
	font-size: 14px;
}
.car>.button{
	float: left;
	margin-left: 20px;
}
.button>button{
	display: inline-block;
	width: 31px;
	height: 44px;
	border: 1px solid #ddd;
	outline: none;
}
/* --------detail-left-middle */
.desri{
	min-height: 420px;
	width: 100%;
	border-bottom: 1px solid #eee;
}
/* -------------评论----------- */
#common{
	width: 100%;
	min-height: 100px;
	
}
#common>h2{
	text-indent: 10px;
	height: 49px;
	line-height: 49px;
	width: 100%;
	border-bottom: 2px solid #eee;
}
.speck{
	width: 100%;
	line-height: 30px;
	min-height: 30px;
	border-bottom: 1px solid #eee;
}
.speck>input[type="text"]{
	width: 45%;
	height: 40px;
	line-height: 40px;
	margin: 20px 20px;
	
	border: 1px solid #C69564;
	background: #eee;
	padding-left: 10px;
	display: inline-block;
	border-radius: 5px;
}
.speck>input[type="button"]{
	
	border: 0;
	display: inline-block;
	width: 52px;
	height: 30px;
	background: #C69564;
	color: #fff;
}
.common{
	width: 60%;
	min-height: 20%;
	overflow: hidden;

}
.common>dl{
	width: 80%;
	
	/* height: 40px; */
	text-align: center;
	display: inline-block;
}
.common>dl>dt{
	float: left;
	width: 30%;
}
.common>dl>dd{
	float: left;
	max-width:50%;
}
.common>dl>dt>img{

	display: inline-block;
	width: 40%;
	/* vertical-align: middle;
	margin-top: -24px; */
}
.common>p{
	overflow: hidden;
	max-width:70%;
	min-height: 40px;
	padding-top: 10px;
	display: inline-block;
	background: pink;
	text-align: right;
	box-sizing: border-box;
}
/* -----------about---------- */
.about{
	width: 100%;
	height: 765px;
}
.goodslist>li{
	width: 150px;
	float: left;
	text-align: center;
}
dl>dt>img{
	width: 100%;
}
.about{
	height: 30px;
	line-height: 30px;
}
dd>span{
	color: #aaa;
}
/* -------------- */
.rig-one{
	background: #fff;
}
.rig-one>h2{
	height: 45px;
	line-height: 45px;
	color: #fff;
	background: #000;
	padding-left: 8px;
}
.rig-one>p{
	padding-left: 8px;
	height: 40px;
	
	margin: 2px;
	line-height: 40px;
	font-size: 16px;
}
.detailRight>h2{
	height: 45px;
	line-height: 45px;
	margin-left: 8px;
}
.detailRight>ul{
	text-align: center;
	padding-left: 9%;
}
.detailRight>ul>li{
	float: left;
	width: 35%;
	margin: 2%;
	height: 10%;

}
.detailRight>ul>li>dl>dt>img{
	width: 100%;
	height: 30%;
}